.deletedMessageRecord {
	text-decoration: line-through;
	font-weight: bold;
}


.cubusImgButtonDown {
    background:#BEDDFF url(./images/cssButton/button_Down_stretch.png) repeat-x;
	border-left:1px solid #b8cfef;
	border-right:1px solid #b8cfef;
	border-top:1px solid #87B6EC;
	border-bottom:1px solid #75AEEC;
}


.messageReadingPaneHeader {
	background-color:#eeeeee;
}

.message-subject {
	font: bold 14px arial, tahoma, sans-serif;
}

.attachmentWidget {
	display: inline;
	vertical-align: middle;
	white-space: nowrap;
}

.emailAddressLink {
	display: inline;
	vertical-align: middle;
	white-space: nowrap;
}

.gwt-HTML {
	display: inline;
}

.gwt-Hyperlink {
	display: inline;
	vertical-align: middle;
	white-space: nowrap;
}

.gwt-TextArea {
	font-family: monospace; 
	font-size: 10pt;
}

#loading {
	position: absolute;
	left: 45%;
	top: 40%;
	padding: 2px;
	z-index: 20001;
	height: auto;
	border: 1px solid #ccc;
}

#loading a {
	color: #225588;
}

#loading .loading-indicator {
	background: white;
	color: #444;
	font: bold 13px tahoma, arial, helvetica;
	padding: 10px;
	margin: 0;
	height: auto;
}

#loading-msg {
	font: normal 10px arial, tahoma, sans-serif;
}

.message-header {
	font: bold 11px arial, tahoma, sans-serif;
}
.message-subject {
	font: bold 14px arial, tahoma, sans-serif;
}


.messagelist-mailfolder-name {
	font: bold 14px tahoma, arial, helvetica;
	color: #15428b;
	background: url(../icons/internet-mail.png) no-repeat 0 0;
	padding-left: 20px;
}

.contactlist-contactfolder-name {
	font: bold 14px tahoma, arial, helvetica;
	color: #15428b;
	background: url(../icons/contact/folder_user.png) no-repeat 0 0;
	padding-left: 20px;
}

.mailfolder-icon {
	background-image: url( ../icons/internet-mail.png ) !important;
}

.contactfolder-icon {
	background-image: url( ../icons/contact/folder_user.png ) !important;
}
